<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @relation.key %>
</p>

<p>
  <strong>Relation:</strong>
  <%= @relation.relation %>
</p>

<%= link_to 'Edit', edit_relation_path(@relation) %> |
<%= link_to 'Back', relations_path %>
