<div class="offset2 span8">
    
    <%= form_tag({action: 'index'},{class: 'form-search'}) do %>
      <fieldset>
        <legend>Please enter your question:</legend>
		<div class="span12 input-append">
          <%= text_field_tag :question, params[:question], class: 'span9 search-query' %>
          <%= submit_tag 'Get an answer...', class: 'btn btn-primary' %>
        </div>
      </fieldset>
    <% end %>
    
    <% if @answer %>
      <div class="well">
    	  <%= form_tag({action: 'index'},{class: 'form-search'}) do %>
    	    <fieldset>
    	      <legend><%= @answer %></legend>
    	      <div class="pull-right">
    	      <%= label_tag "Please give us feedback. This answer is", nil, class: '' %>
    	      <%= hidden_field_tag :judge_answer, @question.id %>
              <%= submit_tag 'Correct', name:'correct', class: 'btn btn-small btn-success' %>
              <%= submit_tag 'Not correct', name: 'incorrect', class: 'btn btn-small btn-danger' %>
              <div>
            </fieldset> 
          <% end %>
        
      </div>
    <% end %>
</div>